<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jCrypt/jCrypt.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.tubs.cs.iti.jcrypt.chiffre.Launcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-execute task2.RunningKey&#13;&#10;-action break&#13;&#10;-cleartext ../02_RunningKey/text_broken.txt&#13;&#10;-ciphertext ../02_RunningKey/text_enc.txt&#13;&#10;-key ../02_RunningKey/key_break.txt&#10;-modulus 26"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="02_RunningKey"/>
</launchConfiguration>
