<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jCrypt/jCrypt.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.tubs.cs.iti.jcrypt.chiffre.Launcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-execute task4.ElGamalCipher&#13;&#10;-action encipher&#13;&#10;-cleartext ../04_ElGamal/test_text.txt&#13;&#10;-ciphertext ../04_ElGamal/text_enc.txt&#13;&#10;-key ../04_ElGamal/key.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="04_ElGamal"/>
</launchConfiguration>
